<!DOCTYPE html>
<html data-ng-app="ng-lightstreamer-example">
<head>
	<title>ng-lighstreamer</title>
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
</head>
<body data-ng-controller="Main">
	<h1>ng-lighstreamer</h1>
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/ng-lightstreamer/lightstreamer-client.js"></script>
	<script src="bower_components/ng-lightstreamer/ng-lightstreamer.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<!-- endbower -->
	<!-- inject:js -->
	<script src="src/app.js"></script>
	<script src="src/services.js"></script>
	<script src="src/controllers.js"></script>
	<!-- endinject -->

	<div class="container">
		Status: {{status}};

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th data-ng-repeat="field in fields">
						{{field}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in items">
					<td>{{$index}}</td>
					<td data-ng-repeat="field in fields">
						{{item[field]}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>